<h1>An치lisis Exploratorio</h1>

In [9]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# Cargar el archivo csv con la base de datos
file_path = "data_car_prices\Armenian_Market_Car_Prices.csv" # Ruta al archivo en tu sistema
df = pd.read_csv(file_path)

In [11]:
# Mostrar las primeras filas del dataset para entender su estructura
print("Primeras filas del dataset:")
print(df.head())

Primeras filas del dataset:
       Car Name  Year    Region  FuelType  Mileage  Price
0  Ford Transit  2002     Goris    Diesel   215000  12000
1    Ford Focus  2017    Ijevan  Gasoline    72000  11500
2   Opel Vectra  1998   Armavir  Gasoline   466000   4000
3       Mazda 6  2020  Nor Nork  Gasoline   100000  22000
4   Opel Vectra  1998   Armavir  Gasoline   318000   3500

In [5]:
# Comprobaci칩n del tipo de datos de cada variable
print("\nTipos de datos de cada columna:")
print(df.dtypes)

Tipos de datos de cada columna:
Car Name    object
Year         int64
Region      object
FuelType    object
Mileage      int64
Price        int64
dtype: object

In [6]:
#Variable 'Car Name'(string): Representa la marca y nombre del auto separadas por un espacio ' '
#Variable 'Year'(int): Representa el a침o del auto
#Variable 'Region'(string): Representa la regi칩n de procedencia del auto
#Variable 'FuelType'(string): Representa el tipo de combustible
#Variable 'Milage'(int):Representa las millas del auto
#Variable 'Price'(int):Representa el precio del auto